@import "./variables";

.foot-note {
    font-size: 8px;
    font-weight: 300;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 99;
    padding: 5px;
    color: rgba($white, .15);

    span {
        color: $danger;
    }
}